.mybutton {
    height:6px;
    padding: 10px;
}
.myinput {
    max-width:75%;
}
.mybg {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.fav> .row{
    overflow-x: auto;
    flex-wrap: nowrap;
}